# requirements.txt
pytest
pydantic
psycopg2-binary
aiokafka
kafka-python-ng
pytest-mock
asyncpg
fastapi
uvicorn
requests
altair
pandas 
numpy
python-dotenv
httpx
sqlalchemy
pydantic-settings
#redis
pyspark==3.5.1

