# requirements.txt
pytest
pytest-asyncio
jinja2
pydantic
psycopg2-binary
aiokafka
kafka-python-ng
pytest-mock
asyncpg
fastapi
uvicorn
requests
altair
pandas 
numpy
python-dotenv
httpx
sqlalchemy
pydantic-settings
redis
prometheus-client
cramjam>=2.7

